:root {
    --primary-color: #002c6f;
    --secondary-color: #8e9191;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.jumbotron {
    width: fit-content;
}

.columns {
    height: 100vh;
}

#side-bar {
    background-color: var(--primary-color);
}

figure {
    z-index: 1;
}

.icon {
    cursor: pointer;
    margin-right: -2px;
}

#view-pass {
    cursor: pointer;
    padding: 2px;
    position: absolute;
    right: 15px;
    bottom: 10px;
    z-index: 100;
}

#user-icon-stack {
    color: var(--primary-color);
    opacity: .7;
    transition: all 0.1s;
}

#user-icon-stack:hover {
    font-size: 1.1em;
    opacity: 1;
    margin-top: 6px !important;
}

#user-name {
    background-color: var(--primary-color);
    color: #ffffff;
    font-size: .9em;
}

.input-container {
    position: relative;
    margin-bottom: 1em;
}

.input-container .icono {
    position: absolute;
    padding: 10px;
}

.left-icon .icono {
    left: 0px;
    color: var(--primary-color);
}

.left-icon input {
    padding-left: 40px;
}

.right-icon .icono {
    right: 0px;
    cursor: pointer;
}

.right-icon input {
    padding-right: 30px;
}

.btn-ppal {
    background-color: var(--primary-color);
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400px;
    padding: 6px 30px;
    text-align: center;
}

.btn-ppal:hover {
    background-color: var(--primary-color);
    color: #ffffff;
    font-weight: 600;
}

.btn-outline {
    background-color: transparent;
    border: solid 2px var(--primary-color);
    border-radius: 5px;
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 400px;
    padding: 6px 30px;
    text-align: center;
}

.btn-outline:hover {
    color: #fff;
    background: var(--primary-color);
}

.form-group-input {
    position: relative;
}

.form-input-error {
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}

.form-input-error-active {
    display: block;
}

.form-state-validation {
    position: absolute;
    right: 5px;
    bottom: 12px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
}

.form-message {
    height: 45px;
    line-height: 45px;
    border-radius: 3px;
    display: none;
}

.form-message-active {
    display: block;
}

.form-message p {
    margin: 0;
}

.form-success-message {
    font-size: 14px;
    color: #119200;
    display: none;
}

.form-success-message-active {
    display: block;
}


/* Validation */

.form-group-correct .form-state-validation {
    color: #1ed12d;
    opacity: 1;
}

.form-group-wrong .form-label {
    color: #bb2929;
}

.form-group-wrong .form-state-validation {
    color: #bb2929;
    opacity: 1;
}

.form-group-wrong .form-input {
    border: 2px solid #bb2929;
}

.needs-validation {
    font-size: smaller;
}

.home-menu {
    overflow-x: hidden;
}

.accordion-header .accordion-button {
    font-size: large;
    font-weight: 500;
}

.btn-toolbar {
    height: fit-content;
}

.btn-toolbar .btn {
    width: 106px;
}


/* LOAN REQUEST */

#nav-request {
    background-color: var(--primary-color);
}

#boton-buscar {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

#buscar {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: var(--primary-color);
    outline: 0;
    box-shadow: inset 0 0 0 0.15rem #002c6f5d;
}

i {
    cursor: pointer;
}

#loan-state th {
    background-color: #e9ecef;
    text-align: center;
    text-transform: uppercase;
}

#loan-state span {
    display: block;
}

#loan-state td {
    vertical-align: middle;
}

#loan-state .current-state {
    background-color: var(--primary-color);
    color: white;
}